<%- include ('partials/header') %>
<meta http-equiv="refresh" content="3;url=/" />

<div class="upload-block">
    <h1>Success! That's all Folks!</h1>
    <h5 id="timer">Redirecting in 3...2...1...</h5>
</div>


<%- include ('partials/footer') %>